@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* SRV Solution Sign up Form Page (CSS) by Zunga Siakalima --> */
/*body
{
    margin: 0;
    padding: 30px 40px;
    font-family: sans-serif;
    background-size: cover;
    background-position: center;
} */
/* /* Style Components & Elements for the Sign Up Page */
.sign-up-form
{
    width: 100%;
    box-shadow: 0 0 3px 0 white (0, 0, 0, 0.3);
    padding: 0px;
    margin: 6% auto 0;
    text-align: center;
}

.sign-up-form h1 {
    font-size: 33px;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 35px;
    font-family: "Poppins", sans-serif;
}

/* Style Components & Elements for the Input Boxes */
.sign-up-form .input-box
{
    color: black;
    border-radius: 20px;
    padding: 10px;
    width: 40%;
    height: 50px;
    border: 1px solid grey;
    outline: none;
    margin: 10px;
}

.input-box {
    width: 100%;
    height: 100%;
    border-radius: 10px; 
    outline: none;
    border: 1px solid #333333;
    font-size: 15px;
    color: #333333;
}

/* Style Components & Elements for the Sign Up Box */

.sign-up-form button
{
    color: white;
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
/* Colour Components & Elements for the Sign Up Box */
.sign-btn
{
    background-color: #8462b8;
    margin-top: 80px;
    transition: transform 0.3s ease;
}

.sign-btn:hover{
    background: #7e5ab5;
    transform: scale(1.01);
}

/* Components & Elements for the SRV Logo */
.sign-up-form img
{
    width: 120px;
    height: 120px;
    position: relative;
    top: -50px;
}

.checkbox-text{
    margin-bottom: 45px;
    margin-top: 30px;
    accent-color: #333333;
}

.login-link {
    margin-top: 10px; 
    font-size: 14px; 
  }

.login {
    color: #7f49cc;
    font-weight: 600;
    transition: font-size 0.2s ease;
}

.login:hover {
    font-size: 15px; 
}