.card-carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    overflow-x: auto;
    width: 100%;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scroll-behavior: smooth; /* Smooth scrolling */
   
  }
  
  .card-carousel-container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  
  .card-carousel::-webkit-scrollbar {
    display: none;
  }
  
  .card-carousel {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  }
  
  .card {
    flex: 0 0 300px;
    margin: 0 10px;
    text-align: left;
    background-color: #66429B;
  }
  
  .card img {
    width: 100%;
    height: auto;
    background-color: white;
  }
  
  .card h3 {
    margin-top: 10px;
    font-size: 20px;
    color: white;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: #66429B;
  }
  
  .card p {
    margin-top: 5px;
    font-size: 16px;
    color: white;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: #66429B;
  }
  
  .scroll-btn {
    background-color: transparent;
    border: none;
    padding: 2px;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    color: #888;
    transition: color 0.3s ease; /* Smooth color transition */
  }
  
  .scroll-btn:hover {
    color: #333; /* Change color on hover */
  }
  