.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background: white;
    padding: 4px 6%;
}

.navbar .logo{
    width: 160px;
}

.navbar h1{
     font-size: 26px;
     margin-left: 60px;
     font-family: Poppins;
     font-weight: 600;
     
}

ul{
    display: flex;
    flex: 1; 
    justify-content: flex-end; /* Aligns items to the right */
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li{
    display: inline-block;
    margin: 10px 20px;
}

.orange {
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: radial-gradient( 100% 100% at 100% 0%, #f5a030 0%, #fa9827 100% );
    padding: 0 32px;
    border-radius: 6px;
    height: 48px;
    font-size: 18px;
}

.orange:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #fd950c;
    transform: translateY(-2px);
}

.purple {
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: radial-gradient( 100% 100% at 100% 0%, #ac81bb 0%, #947BB9 100% );
    padding: 0 32px;
    border-radius: 6px;
    height: 48px;
    font-size: 18px;
}

.purple:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #947BB9;
    transform: translateY(-2px);
}
  
 