body {
    margin: 0;
    padding: 0; 
    font-family: "Roboto", sans-serif;
} 

.material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
    font-size: 35px;
}

.grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
    height: 100vh; 
}

.header {
    grid-area: header;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
    background-color: white
}

.menu-icon {
    display: none;
}

#sidebar {
    grid-area: sidebar;
    height: 100%;
    transition: all 0.5s;
    background-color: #a883e9;
}

.sidebar-title {
    padding: 30px;
    margin-bottom: 30px;
}

.sidebar-title > span {
    display: none;
}

.sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.sidebar-list-item {
    padding: 20px;
    font-size: 18px;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.447); 
}

.sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.666);
    cursor: pointer;
}

.sidebar-responsive {
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
}

/* Main Section */

.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    background-color: rgb(236, 218, 243);
}

.main-title {
    display: flex;
    justify-content: space-between;
}

.main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
    
}

.main-cards .card1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    border-radius: 5px;
}

.main-cards .card1:first-child {

    background-color: white;
}

.main-cards .card1:nth-child(2) {

    background-color: white;
}

.main-cards .card1:nth-child(3) {

    background-color: white;
}

.main-cards .card1:nth-child(4) {

    background-color: white;
} 

.card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-inner > .material-icons-outlined {
    font-size: 40px;
}

.charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
}

.charts-card {
    background-color:#c6b0ec;
    margin-bottom: 20px;
    padding: 22px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.logo-container {
    display: flex;
    justify-content: center;
  }
  
  .logo-img2 {
    width: 190px;
    height: 180px;
    margin-top: -90px;
  }

  .ticket-header1{
    font-size: 14px;
  }

  .ticket-box {
    margin-top: 18px;
    background-color: white;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    transition: box-shadow 0.3s, background-color 0.3s; 
    cursor: pointer; 
  }
  
  .ticket-box:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #f0f0f0b5; 
  }

  .description {
    font-size: 13px; 
    margin-top: 10px;
  }

  .user-info {
    margin-top: 10px;
}
  
.profile-icon {
    color: #5f5555; 
    transform: scale(0.8);
    transform-origin: center;
}

.user-name {
    font-size: 11px;
    color: #5f5555; 
}

.prior-level{
    margin-left: 310px;
    font-weight: bold;
    margin-top: -10px;
}

.prior.high {
    color: red;
}
  
.prior.medium {
    color: orange;
}
  
.prior.low {
    color: green;
}

.material-symbols-outlined {
    margin-right: 4px; 
    position: relative;
    top: 6px; 
    font-size: 24px; 
}

  
