@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #f1e3ff, #dcc6f5);
  font-family: "Poppins", sans-serif;
}

.container {
  width: 600px;
  padding: 60px 60px;
  background-color: white;
  color: #333;
  border-radius: 15px;
  border: 1px solid #947bb9;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  min-height: auto;
}

.container h1 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #333;
}

.container p {
  margin-bottom: 25px;
  font-size: 16px;
  color: #777;
}

.container p a {
  color: #947bb9;
  font-weight: 600;
  text-decoration: none;
}

.container p a:hover {
  text-decoration: underline;
}

.input-box {
  position: relative;
  margin: 10px 0;
  width: 100%;
}

.input-box input {
  width: 100%;
  height: 60px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 10px 40px 10px 12px;
  color: #333;
}

.input-box input::placeholder {
  color: #888;
}

.input-box .icon {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #666;
}

.input-box .toggle-password {
  position: absolute;
  right: 10px;
  top: 55%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 14px;
  color: #666;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 10px;
}

.remember-forgot label input {
  accent-color: #947bb9;
  margin-right: 5px;
}

.remember-forgot a {
  color: #947bb9;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  height: 50px;
  background-color: #947bb9;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #8464b5;
}

.container img.logo {
  position: absolute;
  top: 40px;
  right: 2px;
  width: 110px;
  height: auto;
}
