@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    background-position: center;
}

.container{
    width: 100vw;
    min-height: 100vh;
    background: url(./Components/Assets/Background.png);
    background-position: center;
}